body {
    font-size: 100%;
}

label {
    font-size: 1.2em;
}

select {
    border: 0px;
    font-size: 1.2em;
    width: 100%;
    padding: 1px 0px 1px 0px;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}
