/* General */
* {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: Arial, sans-serif;
}

body {
    font-size: 100%;
    margin: 0px;
}

input[type="text"], textarea {
    border: none;
    margin: 0px;
    width: 100%;
}

textarea {
    resize: vertical;
}

select {
    border: 0px;
    padding: 1px 0px 1px 0px;
    width: 100%;
}

@media (min-width: 600px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.25em;
    }

    h3 {
        font-size: 1.755em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.245em;
    }

    h6 {
        font-size: 1.005em;
    }

    label {
        font-size: 1.5em;
    }

    p {
        font-size: 1.5em;
    }

    input[type="text"], textarea, select {
        font-size: 1.25em;
    }
}

/* Basic */
.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

/* Colors */
.green {
    background-color: #009323;
    color: #FFFFFF;
}

.blue {
    background-color: #2463C9;
    color: #FFFFFF;
}

.red {
    background-color: #FF5555;
    color: #FFFFFF;
}

/* Buttons */
button {
    border: none;
    font-weight: bold;
    height: 35px;
    margin: 0px;
    opacity: 0.7;
    padding: 0px 15px;
}

    button:focus {
        outline: none;
    }

    button:hover {
        opacity: 0.85;
    }

    button:active {
        opacity: 1;
    }

@media (min-width: 600px) {
    button {
        font-size: 1.5em;
        height: 60px;
        padding: 0px 25px;
    }
}

/* Containers */
.container {
    background-color: #EEEEEE;
    padding: 10px;
    margin: 20px 0px;
}

@media (min-width: 600px) {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.container.footer {
    background-color: #FFFFFF;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}

    .container.footer p {
        color: #808080;
        font-size: 0.8em;
    }

/* Popups */
.popup-container {
    background-color: rgba(0, 0, 0, 0.33);
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
}

    .popup-container.open {
        display: block;
    }

.popup {
    background-color: #FFFFFF;
    margin: 40px auto;
    opacity: 1;
    padding: 25px;
    width: 80%;
}

    .popup h1, .popup h2, .popup h3, .popup h4, .popup h5, .popup h6 {
        border-bottom: 1px solid #808080;
        margin: 0px;
        padding-bottom: 3px;
    }

@media (min-width: 600px) {
    .popup {
        width: 60%;
    }

        .popup button {
            transform: scale(0.75);
        }
}
