body {
    margin: 2px 7px 2px 7px;
    user-select: none;
    width: 200px;
}

.wrapper {
    border-bottom: 1px dashed #CCCCCC;
    padding: 6px;
}

    .wrapper.separator {
        border-bottom: 1px solid #000000;
    }

    .wrapper:last-of-type {
        border-bottom: none;
    }

    .wrapper:hover {
        background-color: #EEEEEE;
    }

    .wrapper > svg {
        margin-right: 3px;
        position: relative;
        top: 1px;
        width: 16px;
    }

    .wrapper > span {
        font-size: 14px;
        position: relative;
        top: -2px;
    }
