body {
    margin: 0px;
    min-width: 250px;
    width: auto;
    user-select: none;
}

.title {
    background-color: #444444;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

    .title > p {
        margin: 0px;
    }

.wrapper {
    padding: 6px;
}

    .wrapper:hover {
        background-color: #EEEEEE;
    }

    .wrapper > svg {
        margin-right: 3px;
        position: relative;
        top: 1px;
        width: 16px;
    }

    .wrapper > span {
        font-size: 14px;
        position: relative;
        top: -2px;
    }

.separator.dashed {
    border-bottom: 1px dashed #CCCCCC;
}

.separator.solid {
    border-bottom: 1px solid #444444;
}
